{% extends 'rango/buyer_base.html' %}
{% load staticfiles %}

{% block title_block %}
    My Account
{% endblock %}

{% block buyerbase_body_block %}
 
    <div>
        Profile:<img src="{{ MEDIA_URL }}{{user.userprofile.picture}}" alt="Picture of Buyer" />
    </div>

    <div>
        Username: {{user.username}}<br/>
        Email:{{user.email}}<br/>
        Address:{{user.userprofile.address}}
    </div>

    <div>
        User Type: {{user.userprofile.usertype}}
    </div>
    
{% endblock %}