{% extends 'rango/buyer_base.html' %}
{% load staticfiles %}

{% block title_block %}
    Payment
{% endblock %}

{% block buyerbase_body_block %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/payment.css' %}" type="text/css" media ='all'>
    <div class = 'userinfo'>
        <a>AAAA</a>
        <!-- User Name : {{user.username}}<br />
        Email : {{user.email}}<br />
        Address : {{user.userprofile.address}}<br />
        Price : ￡ 200<br /> -->
    </div>

    <div class = 'card'>
        Card Number : <input type="text" /><br />
        CVV: <input type="text"  /><br />
        Phone Number : <input type="text"  /><br />
        <input type="submit" value="Submit" /><br />
    </div>
    
{% endblock %}