{% extends 'rango/seller_base.html' %}
{% load staticfiles %}

{% block title_block %}
    My Account
{% endblock %}

{% block seller_base_body_block %}
 
    <div>
        <span>Profile : </span> <img src="{{ MEDIA_URL }}{{user.userprofile.picture}}" alt="Picture of Buyer" />
    </div>

    <div>
        <span>Username : </span> <span>{{user.username}}</span><br/>
        <span>Email : </span> <span>{{user.email}}</span> <br/>
        <span>Address : </span> <span>{{user.userprofile.address}}</span> 
    </div>

    <div>
        <span>User Type : </span> <span>{{user.userprofile.usertype}}</span> 
    </div>

{% endblock %}