{% extends 'rango/userbase.html' %}
{% load staticfiles %}

{% block title_block %}
    Upload Product
{% endblock %}

{% block userbase_body_block %}
    <form id="upload_product_form" method="post" action="{% url 'rango:upload_product' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}<br/>
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}<br/>
        {% endfor %}
        <input type="submit" name="submit" value="Upload" />
    </form>

{% endblock %}